<h1>Willard tells you the weather!</h1>
<%= form_with method: :get do |form| %>
  <%= form.text_field :address, placeholder: "Enter address" %>
  <%= form.submit "Tell me, Willard" %>
<% end %>
<div id="dailyForecast">
  <%= render partial: 'forecast_details' if @weather.present? %>
</div>
