<h1>Willard tells you the weather!</h1>
<%= form_with method: :get do |form| %>
  <%= form.text_field :address, value: @address, placeholder: "Enter address", input_html: { autofocus: true } %>
  <%= form.submit "Tell me, Willard" %>
<% end %>

<%= render partial: 'weather', locals: { weather: @weather } if @weather.present? %>
